//Only max screens
$screen-max-xs-s: 480px;
$screen-max-xs: 576px;
$screen-max-sm: 767px;
$screen-max-md: 991px;
$screen-max-lg: 1200px;
$screen-max-xl: 1400px;

//Only min screens
$screen-min-xs-xs: 320px;
$screen-min-xs-s: 481px;
$screen-min-xs: 577px;
$screen-min-sm: 768px;
$screen-min-md: 992px;
$screen-min-lg: 1201px;
$screen-min-xl: 1401px;
$screen-max-xl-five: 1500px;
