$font-family-primary: "Mardoto", sans-serif;
$header-bg-color: #ffffff;
$header-box-shadow: 2px 0px 5px 0px;
$header-search-border-radius: 15px;
$lang-select-border-radius: 15px !important;
$nav-link-color: #fff;
$animate-nav-link: all 0.2s ease-in-out;
$secondary-nav-link-color: #2b2b2b;
$font-size-base: 16px;
$line-height-base: 1;
$primary-color: #eeb60f;
$btn-bg-primary-color: #eeb60f;
$btn-bg-secondary-color: #5f4c8d;
$btn-color: #fff;
$border-radius-base: 5px;
$border-radius-sm: 3px;
$shadow-color: rgba(0, 0, 0, 0.05);
$border-color-base: #e5e5e5;
$text-color: #666;
$hover-color: #f9f9fc;
$blue-color: #353fdf;
$active: #22d89a;
$inactive: #fa3b4b;
$inputsRadius: 5px;
$inputSmHeight: 30px;
$inputMdHeight: 42px;
$inputLgHeight: 54px;
